#pinpad {
  width: 768px;
  height: 1448px;
  background-color: $white-color;
  margin: 0 auto;
  min-height: 600px;
  position: static;
  text-align: center;
}

#pins {
  color: #C4C4C4;
  display: flex;
  justify-content: center;
  margin-right: 12px;
  margin-left: 35px;
  flex-direction: row-reverse;
}

button {
  width: 80px;
  height: 80px;
  position: relative;
  font-family: Roboto;
  font-size: 37px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0em;
  background-color: $white-color;
  border: $white-color;

  &:hover {
    border-radius: 50%;
    border-color: blueviolet;
    border-width: $border-width;
    border-style: solid;
  }

  &:active {
    background-color: $blue-color;
    border-color: $blue-color;
    border-width: $border-width;
    border-style: solid;
    color: $white-color;
  }
}

#message {
  font-size: 2em;
}